<h1>One viewport - several scrolls:</h1>

<div class="viewport" #viewportRef>
    <h3>First set of rows:</h3>
    <ng-container with-virtual-scroll
                  [count]="rows1.length"
                  [estimateSize]="estimateSizeFn"
                  [viewportRef]="viewportRef"
                  [containerRef]="container1Ref"
                  #scroll1="with-virtual-scroll">
        <div [style.height.px]="scroll1.totalSize" #container1Ref class="container">
            <div *ngFor="let item of scroll1.virtualItems; trackBy: trackByRows1()"
                 [style.transform]="'translateY(' + item.start + 'px)'"
                 [style.height.px]="rows1[item.index].size"
                 class="item item--vertical">
                {{rows1[item.index].name}}
            </div>
        </div>
    </ng-container>
    <h3>Second set of rows:</h3>
    <ng-container with-virtual-scroll
                  [count]="rows2.length"
                  [estimateSize]="estimateSizeFn"
                  [viewportRef]="viewportRef"
                  [containerRef]="container2Ref"
                  #scroll2="with-virtual-scroll">
        <div [style.height.px]="scroll2.totalSize" #container2Ref class="container">
            <div *ngFor="let item of scroll2.virtualItems; trackBy: trackByRows2()"
                 [style.transform]="'translateY(' + item.start + 'px)'"
                 [style.height.px]="rows2[item.index].size"
                 class="item item--vertical">
                {{rows2[item.index].name}}
            </div>
        </div>
    </ng-container>
</div>
