.viewport {
    border: 1px solid black;
    background: #CC6600;
    overflow: auto;

    height: 600px;
    width: 600px;
}

.container {
    background: #fff;
    height: 100%;
    width: 100%;
    position: relative;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7cce79;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;

    &--vertical {
        width: 100%;
    }

    &--horizontal {
        height: 100%;
    }
}
