<h1>Minimal usage:</h1>

<h2>Vertical</h2>
<ng-container with-virtual-scroll
              [items]="rows"
              [estimateSize]="estimateSizeFn"
              [viewportRef]="verticalViewportRef"
              #verticalScroll="with-virtual-scroll">
    <div class="viewport" #verticalViewportRef>
        <div [style.height.px]="verticalScroll.totalSize" class="container">
            <div *ngFor="let item of verticalScroll.virtualItems; trackBy: trackByRows()"
                 [style.transform]="'translateY(' + item.start + 'px)'"
                 [style.height.px]="rows[item.index].size"
                 class="item item--vertical">
                {{rows[item.index].name}}
            </div>
        </div>
    </div>
</ng-container>


<h2>Horizontal</h2>
<ng-container with-virtual-scroll
              [items]="rows"
              [horizontal]="true"
              [estimateSize]="estimateSizeFn"
              [viewportRef]="horizontalViewportRef"
              #horizontalScroll="with-virtual-scroll">
    <div class="viewport" #horizontalViewportRef>
        <div [style.width.px]="horizontalScroll.totalSize" class="container">
            <div *ngFor="let item of horizontalScroll.virtualItems; trackBy: trackByRows()"
                 [style.transform]="'translateX(' + item.start + 'px)'"
                 [style.width.px]="rows[item.index].size"
                 class="item item--horizontal">
                {{rows[item.index].name}}
            </div>
        </div>
    </div>

</ng-container>


<h2>Grid</h2>

<ng-container with-virtual-scroll
              [items]="rows"
              [estimateSize]="estimateSizeFn"
              [viewportRef]="gridViewportRef"
              #rowScroll="with-virtual-scroll">
    <ng-container with-virtual-scroll
                  [items]="columns"
                  [horizontal]="true"
                  [estimateSize]="estimateSizeFn"
                  [viewportRef]="gridViewportRef"
                  #columnScroll="with-virtual-scroll">
        <div class="viewport" #gridViewportRef>
            <div [style.height.px]="rowScroll.totalSize"
                 [style.width.px]="columnScroll.totalSize"
                 class="container">
                <ng-container *ngFor="let row of rowScroll.virtualItems; trackBy: trackByRows()">
                    <ng-container *ngFor="let column of columnScroll.virtualItems; trackBy: trackByColumns()">
                        <div [style.transform]="'translate(' + column.start + 'px, ' + row.start + 'px)'"
                             [style.height.px]="rows[row.index].size"
                             [style.width.px]="columns[column.index].size"
                             class="item">
                            ({{rows[row.index].id}};{{columns[column.index].id}})
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
</ng-container>
