<h1>Multi columns</h1>

<ng-container with-virtual-scroll
              [count]="rows.length"
              [estimateSize]="estimateSizeFn"
              [viewportRef]="viewportRef"
              #scroll="with-virtual-scroll">
    <div class="columns" #viewportRef>
        <div [style.height.px]="scroll.totalSize" class="column">
            <div *ngFor="let item of scroll.virtualItems; trackBy: trackByRows()"
                 [style.transform]="'translateY(' + item.start + 'px)'"
                 [style.height.px]="rows[item.index].size"
                 class="item item--vertical">
                First column: {{rows[item.index].name}}
            </div>
        </div>
        <div [style.height.px]="scroll.totalSize" class="column">
            <div *ngFor="let item of scroll.virtualItems; trackBy: trackByRows()"
                 [style.transform]="'translateY(' + item.start + 'px)'"
                 [style.height.px]="rows[item.index].size"
                 class="item item--vertical">
                Second column: {{rows[item.index].name}}
            </div>
        </div>
    </div>
</ng-container>
